<!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
	        <div class="row">
				<div class="media">
				  <div class="media-left">
				      <img class="media-object" src="img/team/img01.jpg" width="380" height="380" alt="">
				  </div>
				  <div class="media-body">
				     <p class="text-faded">&nbsp;&nbsp;&nbsp;Mr. Anil Sharma (CEO and Director)</p>
				  </div>
				</div>
	        </div>
			<br/>
	        <div class="row">
				<div class="media">
				  <div class="media-left">
				      <img class="media-object" src="img/team/img02.jpg" width="380" height="380" alt="">
				  </div>
				  <div class="media-body">
					<p class="text-faded">&nbsp;&nbsp;&nbsp;Mr. Sujit Sharma (Director)</p>
				
				  </div>
				</div>
	        </div>
			<br/>
			
			<h1>Quality Assurance</h1>
			<p>We are one of the renowned quality- oriented organization and quality is our main aim towards which we are dedicated. We use high quality raw material throughout our service in every field as we are one of the renowned quality centric organization and quality is our prior aim. We procure the raw material from quality driven organization that is checked at our quality inspection unit as to provide unique quality service to our esteemed clients. We offer these services after complete planning and designing of the project. Further we ensure that the entire task done by us meets international quality standards.   We follow certain quality guidelines that include.</p>
			<ul>
				<li>Delivery of non-problematic services as per the specifications of clients</li>
				<li>Consistent quality improvement</li>
				<li>Innovative and cost effective services</li>
				<li>Timely execution of services</li>
			</ul>
			<h1>Our Team</h1>
			<p>Our team of experts and professional engineers that include architect, designers, civil engineers and other professional engineers & workers who are gaining experience from past many years in the field of civil engineering. In order to provide excellent quality service we do complete planning and designing of project related task that is prepared after completely understanding of the client’s requirement. Each and every division of our organization is managed and controlled by our team of experts who have wide expertise in their respective domain.   Our team comprises: </p>
			<ul>
				<li>Architects</li>
				<li>Engineers</li>
				<li>Technicians</li>
				<li>Quality analysts</li>
				<li>Sales and marketing professionals</li>
				<li>Skilled workers</li>
			</ul>
			
			<h1>Our USP</h1>
			<p>We are one of the leading civil contractors engaged in providing civil engineering services, construction , Highways & Industrial Roads, construction of dams, canals , bridges under PWD and WRD, BHOPAL M.P.   We are renowned for the following:</p>
			<ul>
				<li>Reliability in quality services.</li>
				<li>Supported by experienced professionals</li>
				<li>State-of-the-art facilities</li>
				<li>Competitive pricing</li>
			</ul>
			<h1>Our Values</h1>
			<ul>
				<li>To enhance the quality of constructions.</li>
				<li>To serve with best value for money and high return on project.</li>
				<li>To acquaint client with Residential and Commercial Projects of standards.</li>
				<li>Serve with an environment of professionalism, team work and excellence.</li>
				<li>To respect all environmental rules, regulations and legal requirements.</li>
				<li>To enhance customer value.</li>
			</ul>
			<h1>Our Mission</h1>
			<p>To be honest in all our activities, dealings and to consciously introspect our work and action on day to day basis. S.S Infraestate India Private Limited is a Company that would consciously like to channel its resources, energy and activities towards building a world that is free of low standards. We will question every action of ours of minute to minute bases and see to it that we continuously take on bigger challenges and we must grow and progress on a daily basis in everything that we perform. We must progress as individuals as a company and as a truly meaningful organization that is honest, fair in all its dealings. </p>
<p>Every person in our organization must consciously develop himself in knowledge, attitude, habits, skills and strategies in order to build a meaningful world through our work. We will strive for excellent quality in every work that we execute on a daily basis and see to it that we don't compromise on our values of honesty and commitment and at any given cost, irrespective of the situations. We believe in the foundation of quality, commitment and contemplation on regular basis in order to continuously grow. It is our mission to provide the best of work in our field irrespective of the challenges we face. We will not stop to dream because of difficult problems. We will continuously provide best and quality oriented work through our projects because of our current achievements will be the foundation of our success in the future.
</p>
        </div>
      </div>
    </div>

    <hr>