 <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
			<p>Sunil Mishra</p>
			<p>Mobile No. 9926020308</p>
			<p>Email : sheeyms.org at gmail.com</p>
            <p>Please get in touch with us if you want to support our cause.</p>
        </div>
      </div>
    </div>

    <hr>