<!-- Page Header -->

    <!-- Post Content -->
    <article>
	  <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">           
			  <h2>&nbsp;</h2>  
			  <h2>&nbsp;</h2>  			   
              <h1>{{ page.title }}</h1>     
			  <h2>&nbsp;</h2>  
			  <h2>&nbsp;</h2>        
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">			
		<h3>Basic Information</h3>
		<p><b>Nature of Business</b>  : Service Provider</p>
		<p><b>Company CEO</b> :  Anil Sharma</p>
		<p><b>Registered Address</b> : 12, Sajan Nagar, Indore M.P</p>
		<p><b>Industry</b>     :  Services of Civil Construction</p>
		<p><b>Total Number of Employees</b> : 26-50 people</p>
		<p><b>Year of Establishment</b> : 2009</p>
		<p><b>Legal Status of Firm</b> : Private Limited</p>
		<p><b>Annual Turnover</b>  : Ranging from Rs. 04 - 10 Crore</p>
		<p><b>Legal Status of Firm</b> : Private Limited</p>
		
		<h3>Infrastructure</h3>
		<p><b>Location Type </b>: Urban</p>
		<p><b>Building Infrastructure</b> : Permanent</p>
		<p><b>Size of Premises</b> : 2100 square feet</p>
		<p><b>Space Around</b>  :  Backyard</p>
		
		<h3>Statutory Profile</h3>
		<p><b>Pan No.</b>   : AANCS1005K</p>
		<p><b>Tan No.</b>    : BPLS12863E</p>
		<p><b>GST No.</b>   : 23AANCS1005K1ZJ</p>
		<p><b>CIN No.</b>    : U70100MP2009PTC021635</p>
		
		
          </div>
        </div>
      </div>
    </article>

    <hr>
