<!-- Page Header -->
    
     
    

    <!-- Post Content -->
    <article>
	  <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">           
			  <h2>&nbsp;</h2>  
			  <h2>&nbsp;</h2>  			   
              <h2>Gallery</h2>           
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="img/gallery/img01.jpg" width="600" height="380" alt=""></li>
                        <li><img src="img/gallery/img02.jpg" width="600" height="380" alt=""></li>
                        <li><img src="img/gallery/img03.jpg" width="600" height="380" alt=""></li>
                        <li><img src="img/gallery/img04.jpg" width="600" height="380" alt=""></li>
                        <li><img src="img/gallery/img05.jpg" width="600" height="380" alt=""></li>
                        <li><img src="img/gallery/img06.jpg" width="600" height="380" alt=""></li>                                           
                        <li><img src="img/gallery/img07.jpg" width="600" height="380" alt=""></li>                                           
                    </ul>
                </div>             

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                    
                </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <hr>