 <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
			  <h3>S.S. Infraestate India Private Limited</h3>
            </div>
          </div>
        </div>
      </div>
    </header>

   <!-- Main Content -->
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
	  <p>Established in Indore M.P. India in the year 2009, We “S.S. Infraestate India Private Limited,” are engaged in providing various kind of civil construction service that include, Civil Construction work, Roads, Highways & Industrial Roads, construction of dams, canals , bridges under PWD and WRD, BHOPAL  M.P. These are offered as per the requirement of our esteemed clients.</p>
 
	  <p>We use high quality raw material throughout our service in every field as we are one of the renowned quality centric organization and quality is our prior aim. We procure the raw material from quality driven organization that is checked at our quality inspection unit as to provide unique quality service to our esteemed clients. We offer these services after complete planning and designing of the project.</p>
 
	  <p>Our team of experts and professional engineers are gaining experience from past many years in the field of civil engineering. Further our team is managed and guided by our expert mentor Mr. Anil Sharma who has achieved excellent exposure in civil engineering services by providing complete client satisfaction. We use latest and high performance machinery & equipments in our services. We provide these services in various parts of the country and make a permanent relationship with our esteemed clients.</p>

	  <p>At present central government has started a smart city project in selected cities in India. Our company has participated in various projects at Indore city, under this mission. We are constructing GTS project at Manormaganj, Lalbagh, and  IT park. We are also constructing in smart school at Bakshibagh , Indore.</p>
       </div>
     </div>
   </div>

   <hr>